In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORT PITCHING DATA AND ASSIGN HOF AS 0 FOR 'NO' AND 1 FOR 'YES' 
pitching_df = pd.read_csv("Resources/pitcher_data.csv", index_col=0)
pitching_df.replace({'HOF': {'N':0, 'Y': 1}}, inplace=True)
pitching_df.head()

,ERA,HOF,Opposing_BA,completed,firstName,games,hits,homeruns,lastName,losses,...,player_id,runs_earned,saves,seasons,shutouts,started,strikes,walks,wins,WAR
0,4.500000,0,0.010000,25.00,George W.,30.0,349.0,0.05,Bechtel,20.00,...,bechtge01,113.0,0.05,5.0,0.05,27.00,38.01,19.01,7.01,3.57
1,5.566000,0,0.010000,77.00,Asahel,84.0,1107.0,6.02,Brainard,53.00,...,brainas01,376.0,0.05,5.0,0.05,82.00,33.01,78.01,24.01,-0.31
2,11.335000,0,0.111667,4.03,Robert Vavasour,11.0,110.0,3.04,Ferguson,3.03,...,fergubo01,36.0,0.06,6.0,0.06,4.03,16.04,7.03,1.05,15.70
3,2.952857,0,0.090000,126.00,William Charles,165.0,1532.0,17.02,Fisher,84.00,...,fishech01,415.0,2.05,7.0,4.04,141.00,99.00,77.01,57.01,-2.27
4,5.665000,0,0.010000,7.00,Frank H.,9.0,134.0,1.03,Fleet,6.00,...,fleetfr01,40.0,0.04,4.0,0.04,8.00,27.01,6.02,2.03,-0.25

In [3]:
# PRINT ORIGINAL DF SHAPE AND DISPLAY COUNTS OF HOF 
print(pitching_df.shape)
pitching_df['HOF'].value_counts()

(9301, 21)

0    8852
1     449
Name: HOF, dtype: int64

In [4]:
### THIS IS JUST FOR TESTING THE SPLIT BASED ON PANDAS FILTERS
test = pitching_df[(pitching_df['games'] > 100) ]
a = test['HOF'].value_counts()
split = (a[0] - a[1])/test.shape[0]
print(a)
print(split)

0    2729
1     386
Name: HOF, dtype: int64
0.7521669341894061

In [5]:
# CELL USED TO DISPLAY MEAN, MIN, MAX OF A PARTICULAR COLUMN
# SOLELY FOR DATA REVIEW
d = 'games'

print("MAX " + d + ": " + str(pitching_df[d].max()))
print("MEAN " + d + ": " + str(pitching_df[d].mean()))
print("MIN " + d + ": " + str(pitching_df[d].min()))

MAX games: 1252.0
MEAN games: 114.48177615310182
MIN games: 1.0

In [6]:
# DISPLAY COLUMN VALUES
pitching_df.columns

Index(['ERA', 'HOF', 'Opposing_BA', 'completed', 'firstName', 'games', 'hits',
       'homeruns', 'lastName', 'losses', 'outs_pitched', 'player_id',
       'runs_earned', 'saves', 'seasons', 'shutouts', 'started', 'strikes',
       'walks', 'wins', 'WAR'],
      dtype='object')

In [7]:
# MORE THEN 100 GAMES PLAYED HAS BEEN DETERMINED TO DESIGNATE A PLAYER WHO HAS BEEN AN ESTABLISHED PITCHER
pitch = pitching_df[(pitching_df['games'] > 100)]
# HOF VALUE IS THE TARGET
target = pitch['HOF']
print(pitch.shape)
target_names = ['negative', 'positive']
data =pitch.drop('HOF', axis=1)

# THESE ARE THE FINAL COLUMNS DETERMINED TO BE OF PRIMARY VALUE
d = data[['ERA','wins','strikes','games','seasons','Opposing_BA']]

# SPLIT DATA INTO TEST AND TRAIN
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(d, target, random_state=42)
d.head()

(3115, 21)

         ERA    wins  strikes  games  seasons  Opposing_BA
3   2.952857   57.01     99.0  165.0      7.0     0.090000
7   3.250625  297.00   1366.0  578.0     16.0     0.106250
8   3.026667  149.01    106.0  237.0      6.0     0.066667
14  2.384286  253.00    142.0  347.0      7.0     0.087143
18  2.766250  129.00    115.0  250.0      8.0     0.050000

In [8]:
# PRINT SCORE 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9229781771501926

In [9]:
# PRINT OUT THE CLASSIFICATION REPORT
from sklearn.metrics import classification_report
predictions = rf.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=["Positive","Negative"]))

             precision    recall  f1-score   support

   Positive       0.94      0.97      0.96       682
   Negative       0.74      0.59      0.66        97

avg / total       0.92      0.92      0.92       779

In [10]:
# RUN PREDICTIONS ON THE PRIMARY ANALYZED DATA
# ASSIGN THE PREDICTIONS TO A COLUMN VALUE IN THE DF
d['predictions'] = rf.predict(d)

/Users/kristopherking/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
# CONCATENATE THE PREDICTED RESULTS ON THE INDEX
# THE PLAYERID CAN NOW BE VALIDATED WITH THE RESULTS
final_pitching = pd.concat([pitch, d], axis=1)
final_pitching.head()

,ERA,HOF,Opposing_BA,completed,firstName,games,hits,homeruns,lastName,losses,...,walks,wins,WAR,ERA,wins,strikes,games,seasons,Opposing_BA,predictions
3,2.952857,0,0.090000,126.00,William Charles,165.0,1532.0,17.02,Fisher,84.00,...,77.01,57.01,-2.27,2.952857,57.01,99.0,165.0,7.0,0.090000,0
7,3.250625,0,0.106250,525.00,Robert T.,578.0,5591.0,69.02,Mathews,248.01,...,533.00,297.00,-7.09,3.250625,297.00,1366.0,578.0,16.0,0.106250,0
8,3.026667,0,0.066667,227.00,John Dickson,237.0,2420.0,19.00,McBride,78.00,...,172.00,149.01,0.12,3.026667,149.01,106.0,237.0,6.0,0.066667,0
14,2.384286,0,0.087143,281.01,Albert Goodwill,347.0,3271.0,15.02,Spalding,65.01,...,156.01,253.00,6.76,2.384286,253.00,142.0,347.0,7.0,0.087143,0
18,2.766250,0,0.050000,228.00,George,250.0,2693.0,17.02,Zettlein,112.00,...,148.00,129.00,-3.62,2.766250,129.00,115.0,250.0,8.0,0.050000,0

In [12]:
# CONVERT FINAL DF THAT CONTAINS ACTUAL AND PREDICTED HOF VALUES IN TO A CSV RESOURCE
final_pitching.to_csv('final_data/pitcher_dataFinal.csv')